*.o
*.a
*.so
*.obj

.vscode
__debug_bin

*.geany

*.exe
*.test
*.prof

*.swp
*.pyc
__pycache__
*.*~

*.csv
*.db
*.tags
*.log
*.log.*.gz

_obj
_test

/.venv
/vendor
/pkg/debian
/bin
/log
/.go-licenses

#go.mod
#go.sum

showlog
showlog.json
showlog.apk
showlog.tar.xz

